.customers__list {
  display: flex;
}

.customers__link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  margin-right: 30px;
  margin-bottom: 94px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    fill: var(--highlighting-color);
    border: 1px solid var(--highlighting-color);
  }
}
